header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h2 {
  font-size: 20px;
  padding-left: 80px;
  cursor: pointer;
}

header ul {
  display: flex;
  font-size: 15px;
  cursor: pointer;
}

header ul li {
  margin: 20px;
  list-style: none;
  text-decoration: none;
}

header a:hover {
  color: rgb(135, 135, 253);
}

header a {
  list-style: none;
  text-decoration: none;
  color: black;
}

header button {
  height: 35px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
.login {
  font-size: 15px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.login:hover {
  color: rgb(135, 135, 253);
}

.signup {
  background-color: rgb(135, 135, 253);
  border: none;
  color: white;
  cursor: pointer;
}

img {
  height: 430px;
  padding: 20px;
  cursor: pointer;
}

img:hover {
  transform: scale(105%);
  transition: 0.4s;

}

.naslov {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.naslov h1 {
  font-size: 2rem;
  margin-left: -100px;
  padding-right: 50px;
}

.naslovBtns {
  margin-right: -30px;
  padding: 30px;
}

.naslovBtn1 {
  background-color: rgb(135, 135, 253);
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.naslovBtn2 {
  background-color: rgb(135, 135, 253);
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.naslovBtn1:hover {
  transform: scale(105%);
  transition: 0.5s;
}

.naslovBtn2:hover {
  transform: scale(105%);
  transition: 0.5s;
}

.lekcije {
  display: flex;
  margin-top: 70px;
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  padding: 50px;
}

.lekcije ul li {
  margin: 20px;
  background-color: rgb(135, 135, 253);
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.lekcije li:hover{
  transform: scale(105%);
  cursor: pointer;
  transition: 0.3s;
}

section {
  border: 2px solid rgb(224, 224, 224);
  border-radius: 12px;
  width: 60%;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  margin: auto;
  margin-top: 20px;
}

section p {
  
  margin-bottom: 20px;
}

section img {
  height: 90px;
  cursor: pointer;
}